<button nz-button (click)="addschool()" nzType="primary">添加学校</button>

<button nz-button (click)="refreshlist()" style="margin-left:3px" nzType="primary">刷新</button>

<nz-table #nestedTable [nzData]="listOfDisplay" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th nzCustomFilter>
        学校
        <nz-dropdown nzTrigger="click" nzPlacement="topLeft" [nzClickHide]="false" [(nzVisible)]="visible" nzTableFilter #dropdown>
          <i nz-icon
             nzType="search"
             class="ant-table-filter-icon"
             [class.ant-table-filter-open]="dropdown.nzVisible"
             nz-dropdown></i>
          <div class="search-box">
            <input type="text" nz-input placeholder="按名称查找" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
              查找
            </button>
            <button nz-button nzSize="small" (click)="reset()">重置</button>
          </div>
        </nz-dropdown>

      </th>
      <th>所属省份</th>
      <th>所在城市</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{ data.schoolname }}</td>
        <td>{{ data.province }}</td>
        <td>{{ data.city }}</td>
        <td>
          <a (click)="addinsititution(data)">添加学院</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="editschool(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteschool(data.id)">删除</a>
        </td>
      </tr>

      <tr [nzExpand]="data.expand">
        <td></td>
        <td colspan="7">
          <nz-table #innerTable [nzData]="data.institutions" nzSize="middle" [nzShowPagination]="true">
            <thead>
              <tr>
                <th>学院</th>
                <th>Action</th>
              </tr>
            </thead>
  <tbody>


    <tr *ngFor="let data of innerTable.data;let i = index">
      <td>{{ data.institution }}</td>
      <td>
        <span class="table-operation">
      
          <a class="operation" (click)="editinstitution(data.id,data.institution)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteinstitution(data.id)">删除</a>
        </span>
      </td>
    </tr>
  </tbody>
          </nz-table>
      </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>


