.c1{
    color: paleturquoise;

}

.add{
    margin-right: 20px;
}

.head-icon{
    margin-left: 15px;
}

.creator{
    font-size: 1px;
   
}

.class-label{

    font-size: 20px;
}

.id{
    float: right;
    text-align: right;
    font-size: 7px;
    color: deepskyblue;
}