
<style>
.d1{
    background-image: url(../assets/image/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
</style>


<ion-header >
  <ion-toolbar color="primary">
      <ion-icon name="logo-github" slot="start" size="large" class="head-icon"></ion-icon>
    <ion-title >
      设置
    </ion-title>


   
  </ion-toolbar>
</ion-header>

<ion-content >

<div class="d1">
 <ion-button (click)="changepassword()" class="b2">
  修改密码
</ion-button>


<div>
 <ion-button (click)="safequit()" class="b1" color="danger">
  退出当前账号
</ion-button>
</div>

<img src="..\assets\image\头像2.png" alt="">

</div>

  



</ion-content>
