
.login-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background: rgba(0,0,0,0.2);
  max-width: 250px;
}

.login-form-forgot {
  float: right;
  color: white;
}

.login-form-button {
  width: 100%;
  letter-spacing:8px;
  
}





