
<form nz-form [formGroup]="validateForm" class="advanced-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <!--<p *ngIf="a" style="color:red">{{msg}}</p>-->
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="phone" placeholder="手机号" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('phone')?.dirty && validateForm.get('phone')?.errors">请输入手机号!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="密码" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">请输入登陆密码!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span class="white-color">记住我</span>
      </label>
      <a routerLink="/forgetpassword" class="login-form-forgot" >忘记密码？</a>
        <button nz-button class="login-form-button" [nzType]="'primary'" >登陆</button>
      <a routerLink="/signup" class="white-color">注册!</a>
    </nz-form-control>
  </nz-form-item>
</form>
