.background{
    background-color: skyblue;
    height: 300px;
}

.input{
    width: 80%;
    border-style: none none solid none;
    border-bottom-width: 1px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
  
}

.register-button{
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}