<button nz-button (click)="adduser()" nzType="primary">添加用户</button>

<button nz-button (click)="refreshlist()" style="margin-left:3px" nzType="primary">刷新</button>
<div>
  <input nz-input placeholder="按关键字搜索" class="c3" #x />
  <button nz-button nzType="primary"  (click)="search(x.value)" >搜索</button>
</div>



<nz-table #table nzBordered nzTitle="用户信息" [nzData]="listOfDisplay" [nzPageSize]="10">
  <thead>
    <tr>
      <th>姓名</th>

      
      <th>用户名 </th>
      <th>手机号</th>
      <th>学校</th>
      <th>学院</th>
      <th>学号/工号</th>
      <th>年龄</th>
      <th>性别</th>
      <th>身份</th>
      <th>Action</th>
    </tr>
  </thead>

  
      <ng-template ngFor let-data [ngForOf]="table.data">
        <tbody>

          <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.school }}</td>
            <td>{{ data.institution }}</td>
            <td>{{ data.id_n }}</td>
            <td>{{ data.age }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.role }}</td>
            <td>
              <a (click)="updateuserinfo(data)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="deleteuser(data.id)">删除</a>
            </td>
          </tr>
        </tbody>
      </ng-template>

</nz-table>
   


