<ion-header>
  <ion-toolbar>
    <ion-title>创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
    <ion-item >
        <ion-label>课程</ion-label>
        <ion-input type="text" placeholder="填写课程名称" style="text-align: right" [(ngModel)]="coursename"></ion-input>
    </ion-item>
    <ion-item >
        <ion-label>班级</ion-label>
        <ion-input type="text" placeholder="填写班级名称" style="text-align: right" [(ngModel)]="classname"></ion-input>
     </ion-item>

</ion-list>

</ion-content>
