<ion-header >
    <ion-toolbar color="primary">
        <ion-icon name="logo-github" slot="start" size="large" class="head-icon"></ion-icon>
      <ion-title >
        班课
      </ion-title>
      <ion-icon name="add-circle-outline" slot="end" size="large" class="add"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
     <ion-list>
       <ion-item>
         <ion-label>班课列表：</ion-label>
       </ion-item>
  
       <ion-item *ngFor="let item of listofclass" >
         
         <img src="assets\icon\favicon.png" alt="">
         <div style="margin-left: 10px;margin-bottom: 10px;margin-top: 10px;width: 100%">
            <ion-label class="id">班课号:{{item.id}}</ion-label>
            <ion-label class="class-label">{{item.course}}</ion-label>
            <ion-label class="class-label">{{item.class}}</ion-label>
            <ion-label class="creator">{{item.creator}}</ion-label>
         </div>
       
       </ion-item>
  
     </ion-list>
  
  
  
  </ion-content>
