.item{
    --padding-start:0px;
    --inner-padding-start:10px;
    
}
.l1{
    float: right;
}

.l2{
    opacity:0.5;
}
.head-icon{
    margin-left: 15px;
  }


.d3{
     text-align: center;
     margin:10px auto;
}
.more{
    margin-right: 5px;
}
.l3{
    float: right;
    color:red;
}