
<style>
  .d1{
    position:inherit;
    
    
  }
  .c2 {
    max-width:200px;
    position:absolute;
    left:50%;
    top:20%;
  }
  .c3 {
    width: 200px;
    border: 2px solid;
    margin-top:5px;
  }
  .c4{
    position:relative;
    left:55px;
  }
  .c5{
    position:relative;
    margin-top:5px;
    
  }
</style>





<div class="d1">
  <span class="c2">
    <h2 class="c4">修改密码</h2>
    <input nz-input class="c3" [type]="'password'" [(ngModel)]="oldpassword" placeholder="原密码" />
    <input nz-input class="c3" [type]="'password'" [(ngModel)]="newpassword" placeholder="新密码" />
    <input nz-input class="c3" [type]="'password'" [(ngModel)]="newpassword_confirm" placeholder="新密码确认" />
    <button class="c5" nz-button nzBlock nzType="primary" (click)="changepassword()">确认修改密码</button>

  </span>
  
</div>
