<form nz-form [formGroup]="validateForm" class="lock-form" (ngSubmit)="submitForm()">



  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="解锁密码" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">请输入解锁密码!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
    <nz-form-control>
      <button nz-button class="lock-form-button" [nzType]="'primary'">解锁</button>
    </nz-form-control>
  </nz-form-item>



</form>
