


<span class="card">
  <nz-card *ngFor="let class of class_list" class="card-item" style="width:300px;" [nzCover]="coverTemplate" [nzHoverable]="true" [nzActions]="[detail, actionEdit, actionEllipsis]">
    <nz-card-meta [nzTitle]=class.classname
                  [nzDescription]=class.description
                  [nzAvatar]="avatarTemplate"></nz-card-meta>
    <ng-template #detail>
      <i nz-icon type="folder-open" (click)="showdetail(class.id)"></i>
    </ng-template>
    <ng-template #actionEdit>
      
      <i nz-icon type="edit" (click)="edit(class)" style="width:100px"></i>
     
    </ng-template>


    <ng-template #actionEllipsis>
      <i nz-icon type="ellipsis"></i>
    </ng-template>
    <ng-template #avatarTemplate>
      <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate>
      <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
    </ng-template>

  </nz-card>

</span>






