.input{
    width: 80%;
    
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    outline-style: solid;
    outline-width: 2px;
    
}

.login-button{
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 35px;
}