<ion-header>
  <ion-toolbar color="primary">
    <ion-title>一定来</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<div>
  <img src="assets\image\LOGO.jpg" alt="">
  <ion-segment style="height: 35px" (ionChange)="segmentChanged($event)">
    <ion-segment-button >
      <ion-label>用户名登陆</ion-label>
    </ion-segment-button>
    <ion-segment-button>
      <ion-label>手机号登陆</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div>
    <ion-input type="text" placeholder="账号" class="input"></ion-input>
    <ion-input type="password" placeholder="密码" class="input"></ion-input>
  </div>
  
  <ion-button (click)="login()" class="login-button">
    登陆
  </ion-button>
  <a href="" style="margin-left:40px">注册账号</a>
</div>


</ion-content>
