



<!--<label *ngFor="let class of class_list" (click)="test(class.classname)">{{class.classname}}</label>-->

<button (click)="test()">test</button>


<!--<span class="card">
  <nz-card *ngFor="let class of class_list" class="card-item" style="width:300px;" [nzCover]="coverTemplate" [nzHoverable]="true" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
    <nz-card-meta [nzTitle]=class.classname
                  [nzDescription]=class.description
                  [nzAvatar]="avatarTemplate">
    </nz-card-meta>
  </nz-card>


</span>




<ng-template #avatarTemplate>
  <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
</ng-template>
<ng-template #actionSetting>
  <i nz-icon type="setting"></i>
</ng-template>
<ng-template #actionEdit>
  <i nz-icon type="edit"></i>
</ng-template>
<ng-template #actionEllipsis>
  <i nz-icon type="ellipsis"></i>
</ng-template>-->

